.d01-dashboard-wrapper{
    width: 100%;
}
.detail-info {
    width: 100%;
    padding: 2.5% 2%;
}
.user-edit-profile {
    width: 100%;
    padding: 0 2%;
}
ul.list-shortcuts {
    margin: 0;
    padding: 1.5em;
}

@media (min-width: 768px) {
    .d01-dashboard-recent-content {
        width: 65%;
        height: 100vh;
        float: left;
    }
    .d01-dashboard-current-user, .d01-dashboard-shortcuts{
        width: 30%;
        float: right;
        display: block;
    }
}