<div class="d01-dashboard-wrapper">
  <div class="d01-dashboard-recent-content">
    {{ element['user_content'] }}
    {{ element['recent_content'] }}
  </div>

  <div class="d01-dashboard-current-user">
    <fieldset class="form-wrapper">
      <legend><span class="fieldset-legend">{{ element['user_info']['name'] }}</span></legend>
      <div class="fieldset-wrapper">
        <div class="detail-info">
          <p><strong>E-mail: </strong>{{ element['user_info']['mail'] }}</p>
          <a href="{{ element['user_info']['edit'] }}">{{ 'Edit your account'|t }}</a>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="d01-dashboard-shortcuts">
    <fieldset class="form-wrapper">
      <legend><span class="fieldset-legend">{{ 'Create new content'|t }}</span></legend>
      <div class="fieldset-wrapper">
        <ul class="list-shortcuts">
        {% for shortcut in element['content_shortcuts'] %}
          <li>{{ shortcut }}</li>
        {% endfor %}
        </ul>
      </div>
    </fieldset>
  </div>

  <div class="d01-dashboard-shortcuts">
    <fieldset class="form-wrapper">
      <legend><span class="fieldset-legend">{{ 'Quick shortcuts'|t }}</span></legend>
      <div class="fieldset-wrapper">
        <ul class="list-shortcuts">
          {% for shortcut in element['shortcuts'] %}
            <li>{{ shortcut }}</li>
          {% endfor %}
        </ul>
      </div>
    </fieldset>
  </div>
</div>